*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto";
  font-size: 16px;
  background-color: $bg-body;
  overflow-x: hidden;
}
img {
  image-rendering: -o-crisp-edges;
  image-rendering: auto;
  image-rendering: -webkit-optimize-contrast;
}
a {
  text-decoration: none;
}
.container {
  padding: 0 6rem;
}

.container-second {
  padding: 0 0 0 6rem;
}

.section {
  &__title {
    color: $color-white;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 2rem;
  }

  &__inner {
    padding: 1rem 0;
    display: flex;
    flex-wrap: wrap;
  }

  &__pagination {
    display: flex;
    justify-content: center;
    padding: 1rem 0;

    button {
      cursor: pointer;
      font-size: 1.25rem;
      outline: none;
      border: none;
      border-radius: 0.313rem;
      background-color: $color-darkBlue;
      color: $color-white;
      padding: 0.5rem;
      width: 5%;

      &:first-child {
        margin-right: 0.625rem;
      }
      &:disabled {
        background-color: rgba(31, 33, 54, 0.3);
        color: rgba(255, 255, 255, 0.3);
      }
    }

    &-list {
      width: 35%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      li {
        width: 12%;
        margin-right: 0.625rem;
        cursor: pointer;
        font-size: 1.25rem;
        border-radius: 0.313rem;
        background-color: $color-darkBlue;
        color: $color-white;
        padding: 0.5rem;
        text-align: center;

        &.active {
          background-color: $color-tematic;
        }
      }
    }
  }
}
.link-hover {
  color: inherit;
  position: relative;
  padding: 0.625rem;
  transition: all 0.3s 0.6s ease;
  border-radius: 0.313rem;
  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 20%;
    height: 20%;
    border: 3px solid;
    transition: all 0.6s ease;
    border-radius: 0.313rem;
  }

  &::after {
    bottom: 0;
    right: 0;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: $bg-links;
    border-right-color: $bg-links;
  }
  &::before {
    top: 0;
    left: 0;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-top-color: $bg-links;
    border-left-color: $bg-links;
  }
  &:hover {
    background-color: $bg-links;
    &::after,
    &::before {
      width: 100%;
      height: 100%;
    }
  }
}
.hidden {
  display: none;
}
