*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto";
  font-size: 16px;
  background-color: $bg-body;
  overflow-x: hidden;
}
img {
  image-rendering: -o-crisp-edges;
  image-rendering: auto;
  image-rendering: -webkit-optimize-contrast;
}
a {
  text-decoration: none;
}
.container {
  padding: 0 6rem;
}

.container-second {
  padding: 0 0 0 6rem;
}

.section {
  &__title {
    color: $color-white;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 2rem;
  }

  &__inner {
    padding: 1rem 0;
    display: flex;
    flex-wrap: wrap;
  }
}
.link {
  color: inherit;
  display: block;
  padding: 0.125rem;
  box-shadow: 0 2px 0 $color-tematic, inset 0 0 0 $color-tematic;
  width: fit-content;
  transition: all 0.5s linear;
  font-size: 1.5rem;
  &:hover {
    box-shadow: 0 0 0 $color-tematic, inset 0 -1.5em 0 $color-tematic;
  }
}
.link-hover {
  color: inherit;
  position: relative;
  padding: 0.625rem;
  transition: all 0.3s 0.6s ease;
  border-radius: 0.313rem;
  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 20%;
    height: 20%;
    border: 3px solid;
    transition: all 0.6s ease;
    border-radius: 0.313rem;
  }

  &::after {
    bottom: 0;
    right: 0;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: $bg-links;
    border-right-color: $bg-links;
  }
  &::before {
    top: 0;
    left: 0;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-top-color: $bg-links;
    border-left-color: $bg-links;
  }
  &:hover {
    background-color: $bg-links;
    &::after,
    &::before {
      width: 100%;
      height: 100%;
    }
  }
}
.hidden {
  display: none;
}
.swiper {
  padding-left: 1.25rem;
  &-slide {
    padding-top: 3rem;
    &-cast {
      padding-top: 1rem;
    }
  }
}
