body {
  font-family: "Roboto";
  font-size: 16px;
  background-color: $bg-body;
}
img {
  image-rendering: -o-crisp-edges;
  image-rendering: auto;
  image-rendering: -webkit-optimize-contrast;
}
a {
  text-decoration: none;
}
.container {
  padding: 0 6rem;
}

.container-second{
  padding: 0 0 0 6rem;
}