$bg-header:#1f1f1f;
$bg-body:#141414;
$bg-highRating: #0ca305;
$bg-midRating:#f7bd01;
$bg-lowRating:#8f1212;
$bg-noRating:#cacaca;
$color-white:#fff;
$color-tematic:#6495ed;
$color-darkBlue:#1F2136;
$bg-links:#466296;