.card {
  width: 18%;
  display: block;
  font-size: 1rem;
  transition: all 0.3s linear;

  &:hover {
    .card__about {
      opacity: 1;
    }

    img {
      //transform: scale(1.05);
      filter: blur(1px);
    }
  }

  a {
    color: inherit;
    display: block;
  }

  img {
    width: 100%;
    height: auto;
    min-height: 300px;
    max-height: 300px;
    display: block;
    border-radius: 0.938rem;
    transition: all 0.3s linear;
  }

  &__wrapper {
    position: relative;
  }

  &__about {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    border-radius: 0.938rem;
    transition: all 0.3s linear;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p {
      width: 100%;
      text-align: center;
    }
  }

  &__vote {
    margin: 0 0 -3rem 0;
    padding: 0.313rem 0;
    position: relative;
    z-index: 1;
    width: 20%;
    text-align: center;
    font-weight: 700;

    &.high-rating {
      background-color: $bg-highRating;
    }

    &.mid-rating {
      background-color: $bg-midRating;
    }

    &.low-rating {
      background-color: $bg-lowRating;
    }

    &.no-rating {
      background-color: $bg-noRating;
    }
  }

  &-name-and-date {
    text-align: center;
  }

  &__name {
    margin: 0.625rem 0;
  }
}

.swiper-slide {
  .card {
    width: 100%;
  }
}

.search {
  .card {
    width: 100%;
  }
}

@media (max-width: 1200px) {
  .card {
    width: 22%;
    margin-right: 0;
  }
}

@media (max-width: 1000px) {
  .section__inner .card {
    width: 23%;
    min-height: auto;

    img {
      max-height: none;
      min-height: auto;
    }
  }
}

@media (max-width: 800px) {
  .section__inner .card {
    width: 31%;
  }
}

@media (max-width: 700px) {
  .card {
    min-height: auto;

    img {
      max-height: none;
      min-height: auto;
    }
  }
}

@media (max-width: 550px) {
  .swiper-slide {
    .card {
      width: 100%;
      margin: 0 auto;
    }
  }
  .section__inner .card {
    width: 45%;
  }
}
