.header {
  background-color: $bg-header;
  width: 100%;
  margin-bottom: 1.875rem;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4.375rem;
  }

  &__wrapper {
    display: flex;
    align-items: center;

    @media (max-width: 700px) {
      flex-direction: row-reverse;

      h1 {
        margin-left: 5rem;
      }
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-left: 5rem;

    &-item {
      position: relative;
    }

    &-title {
      font-weight: 500;
      cursor: pointer;
    }

    @media (max-width: 700px) {
      display: none;
      align-items: flex-end;
    }
  }

  &__submenu {
    width: 10rem;
    position: absolute;
    bottom: -8.5rem;
    left: -1rem;
    z-index: 11;
    padding-top: .5rem;
    background: #1f1f1f;
    visibility: hidden;

    &.active {
      visibility: visible;
    }

    &.people {
      bottom: -2.5rem;
    }

    &-item {
      padding: .5rem 1rem;
      transition: all .1s linear;
      cursor: pointer;

      p {
        font-weight: 500;
      }

      &:hover {
        color: $color_tematic;
      }
    }
  }

  &__logo {
    font-size: 2rem;
    font-weight: 900;
    transition: all 0.4s linear;

    span {
      color: $color-tematic;
      transition: all 0.4s linear;
    }

    &:hover {
      color: $color-tematic;

      span {
        color: $color-white;
      }
    }
  }

  &__group {
    display: flex;
    align-items: center;
    color: rgba($color-white, 0.5);
  }

  &__search {
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    cursor: pointer;
    transition: all 0.3s linear;

    i {
      transition: all 0.3s linear;
      display: block;
      margin: 0 0.625rem 0 0;
    }

    span {
      position: relative;

      &::after {
        content: "";
        width: 0;
        height: 0.125rem;
        background-color: $color-tematic;
        position: absolute;
        left: 0;
        bottom: -2px;
        transition: all 0.4s linear;
      }

      @media (max-width: 700px) {
        display: none;
      }
    }

    &:hover {
      color: rgba($color-white, 1);

      i {
        transform: scale(1.3);
      }

      span {
        &::after {
          width: 100%;
        }
      }
    }
  }

  &__login {
    margin: 0 0 0 0.625rem;
    cursor: pointer;

    i {
      font-size: 1.5rem;
      transition: all 0.3s linear;
      border: 1px solid transparent;
      border-radius: 50%;
      padding: 0.625rem;
      display: block;
    }

    &:hover {
      color: rgba($color-white, 1);

      i {
        border: 1px solid $color-white;
        transform: rotateY(-180deg);
      }
    }
  }

  &__hamburger {
    display: none;

    button {
      width: 25px;
      height: 25px;
      padding: 0;
      border: none;
      background: none;
    }

    @media (max-width: 700px) {
      display: block;
    }
  }
}
