.menu {
  position: fixed;
  top: 70px;
  left: 0;
  height: 100vh;
  background-color: #1f1f1f;
  z-index: 100;
  padding: 2rem 3rem;
  transform: translateX(-230px);
  visibility: hidden;

  &.active {
    visibility: visible;
    animation: .4s linear both running showMenu;
  }

  &__item {
    padding-bottom: .5rem;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }

    &-title {
      font-size: 1.5rem;
      font-weight: 500;
      transition: all .3s linear;

      &:hover {
        color: #6495ed;
      }
    }

    &-link {
      font-weight: 500;
      padding: .5rem 0;
    }

    &-submenu{
      max-height: 0;
      visibility: hidden;

      &.active {
        max-height: 100%;
        visibility: visible;
        padding-top: .5rem;
      }
    }
  }
}

@keyframes showMenu {
  0% {
    width: 0;
    transform: translateX(-200px);
  }

  100% {
    width: 50%;
    transform: translateX(0);
  }
}
