.search {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color-black, 0.9);
  z-index: 99;
  padding-top: 3.75rem;
  overflow-y: scroll;

  &__title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  &__wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 2rem;

    &-header {
      display: flex;
      gap: .9rem;
      border-bottom: 2px solid #1f1f1f;
      padding-bottom: 0.2rem;
    }
  }

  &__form {
    position: relative;
  }

  &__field {
    &-list {
      width: 100%;
      position: absolute;
      border-radius: 0.313rem;
      margin-top: .1rem;
      color: $color-tematic;
      background: $color-white;
      z-index: 2;
      transition: all .3s linear;
      visibility: hidden;

      &.active {
        visibility: visible;
      }
    }

    &-item {
      padding: .5rem;
      cursor: pointer;

      span {
        &:not(:first-child) {
          padding-left: .4rem;
        }
      }

      &:not(:last-child) {
        border-bottom: 1px solid $color-tematic;
      }
    }

    &-empty {
      padding: 1rem;
    }

    &-media {
      font-size: .8rem;
      color: #cacaca;
    }
  }

  &__tab {
    position: relative;
    border: none;
    background: transparent;
    font-size: 1.5rem;
    font-weight: 500;
    color: $color-white;
    cursor: pointer;
    padding: 0;

    &.active {
      &::after {
        content: '';
        position: absolute;
        bottom: -4px;
        left: 0;
        width: 100%;
        height: 2px;
        background: $color-tematic;
      }
    }

    &:not(:first-child) {
      margin-left: 1rem;
    }
  }

  &__list {
    margin-top: 2.5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem 1rem;
  }

  &__inner {
    width: 65%;
    margin: 0 auto;
    z-index: 2;

    fieldset {
      position: relative;
    }

    input {
      width: 100%;
      border: 2px solid transparent;
      border-radius: 0.313rem;
      padding: 0.625rem 0.625rem 0 0.625rem;
      height: 40px;
      outline: none;
      transition: all 0.5s linear;
      color: $color-tematic;
      font: 500 1rem "Roboto";

      &:hover,
      &:focus {
        border: 2px solid $color-tematic;
      }

      &:focus {
        + .placeholder {
          font-size: 0.875rem;
          top: 20%;
        }
      }
    }
  }

  .placeholder {
    color: $color-tematic;
    position: absolute;
    top: 50%;
    left: 2%;
    transform: translate(0%, -50%);
    transition: all 0.5s linear;

    &-show {
      font-size: 0.875rem;
      left: 2%;
      top: 20%;
      color: $color-tematic;
      position: absolute;
      transform: translate(0%, -50%);
      transition: all 0.5s linear;
    }
  }

  &__close {
    position: fixed;
    right: 30px;
    top: 20px;
    cursor: pointer;

    &.link {
      font-size: 1.3rem;
    }
  }

  &__defolt {
    &-item {
      width: fit-content;

      a {
        font-size: 1rem;
        display: block;
        margin-bottom: 1rem;
      }
    }

    &-links {
      margin-top: 1rem;
    }
  }

  &__undefind {
    font-size: 1.5rem;
    margin-top: 1rem;
  }

  &__result {
    padding-top: 2rem;

    &-inner {
      display: flex;
      flex-wrap: wrap;
    }

    &-item {
      width: 22%;
      margin-right: 1.25rem;
    }

    &-wrapper {
      padding-bottom: 1rem;
    }

    &-title {
      font-size: 1.5rem;
      margin-bottom: 2.5rem;
    }

    &-total {
      font-size: 1.5rem;
      margin-bottom: 0.5rem;
    }
  }

  &__empty {
    font-size: 1.5rem;
    margin-top: 2rem;
  }

  &__more {
    margin: 2rem 0 2rem auto;

    a {
      font-size: 1.3rem;
    }
  }
}

@media (max-width: 1200px) {
  .search {
    &__inner {
      width: 70%;
    }

    &__result {
      &-item {
        width: 30%;
      }
    }
  }
}

@media (max-width: 1000px) {
  .search {
    &__inner {
      width: 90%;
    }
  }
}

@media (max-width: 800px) {
  .search {
    &__result {
      &-item {
        width: 40%;
      }
    }
  }
}

@media (max-width: 500px) {
  .search {
    &__inner {
      width: 100%;
    }

    &__result {
      &-item {
        width: 43%;
      }
    }

    &__close {
      position: absolute;
    }

    .link {
      font-size: 1.3rem;
    }
  }
}
